<form action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Image Uploads</legend>
        {{ form_widget(form) }}
    </fieldset>
    <input type="submit" value="Upload" />
</form>

<style>
.error {
    background-color: #dc3232;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
</style>